<!DOCTYPE html>  
<html>  
<head>  
    <title>OMG THANKZX</title>
</head>  
<body>  
    <h4>BUTTON BELOW IS THX</h4>
    <form action="your-server-side-code" method="POST">
      <script
        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="{{ pub_key }}"
        data-amount="999"
        data-name="PIO"
        data-description="Widget"
        data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
        data-locale="auto"
        data-zip-code="true">
      </script>
    </form>
</body>  
</html>